$layout-grid-template-row: auto auto;

$main-grid-template-row: 100vh auto auto;
$header-bg-color: #187bbd;
$header-font-color: #fff;
$header-font-color-hover: #ddd;
$slider-title-color: #fff;
$slider-p-color: #fff;
$welcome-bg-color: #fff;
$welcome-p-color: #8b8a88;
$columns-bg-color: #00253d;
$columns-border-color: #1f4660;
$columns-title-color: #fff;
$columns-p-color: #8b8a88;
$footer-bg-color: #0e1a2e;
$footer-title-color: #9ebec7;
$footer-p-color: #8b8a88;

$slider-img-height: 100vh;

$medium-breakpoint: 768px;
$special-img-breakpoint: 900px;
$large-breakpoint: 1050px;
